langchain
langchain-core
langchain-community
sentence-transformers
pydantic
pypdf
docx2txt
unstructured[eml]
fastapi
uvicorn[standard]
python-dotenv
pinecone-client
langchain-pinecone
langchain-groq
cohere==5.15.0
langchain-cohere
faiss-cpu